<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserListServlet</servlet-name>
    <servlet-class>com.yl.controller.UserListServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.yl.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CheckCodeServlet</servlet-name>
    <servlet-class>com.yl.controller.CheckCodeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>com.yl.controller.AddUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>delUserServlet</servlet-name>
    <servlet-class>com.yl.controller.delUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FindUserServlet</servlet-name>
    <servlet-class>com.yl.controller.FindUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateUserServlet</servlet-name>
    <servlet-class>com.yl.controller.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DelSelectServlet</servlet-name>
    <servlet-class>com.yl.controller.DelSelectServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PCIListServlet</servlet-name>
    <servlet-class>com.yl.controller.PCIListServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>OrderListServlet</servlet-name>
    <servlet-class>com.yl.controller.OrderListServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SupplierListServlet</servlet-name>
    <servlet-class>com.yl.controller.SupplierListServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetUserByList</servlet-name>
    <servlet-class>com.yl.controller.GetUserByPageServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RegUserServlet</servlet-name>
    <servlet-class>com.yl.controller.RegUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddSupplierServlet</servlet-name>
    <servlet-class>com.yl.controller.AddSupplierServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FindSupplierServlet</servlet-name>
    <servlet-class>com.yl.controller.FindSupplierServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateSupplierServlet</servlet-name>
    <servlet-class>com.yl.controller.UpdateSupplierServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DelSupplierServlet</servlet-name>
    <servlet-class>com.yl.controller.DelSupplierServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DelSelectSupplierServlet</servlet-name>
    <servlet-class>com.yl.controller.DelSelectSupplierServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddProductServlet</servlet-name>
    <servlet-class>com.yl.controller.AddProductServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DelSelectProductServlet</servlet-name>
    <servlet-class>com.yl.controller.DelSelectProductServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DelProductServlet</servlet-name>
    <servlet-class>com.yl.controller.DelProductServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FindProductServlet</servlet-name>
    <servlet-class>com.yl.controller.FindProductServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateProductServlet</servlet-name>
    <servlet-class>com.yl.controller.UpdateProductServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddOrderServlet</servlet-name>
    <servlet-class>com.yl.controller.AddOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DelOrderServlet</servlet-name>
    <servlet-class>com.yl.controller.DelOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DelSelectOrderServlet</servlet-name>
    <servlet-class>com.yl.controller.DelSelectOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FindOrderServlet</servlet-name>
    <servlet-class>com.yl.controller.FindOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateOrderServlet</servlet-name>
    <servlet-class>com.yl.controller.UpdateOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>com.yl.controller.CartServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProductsShowServlet</servlet-name>
    <servlet-class>com.yl.controller.ProductsShowServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateUserOwnServlet</servlet-name>
    <servlet-class>com.yl.controller.UpdateUserOwnServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserOwnShowServlet</servlet-name>
    <servlet-class>com.yl.controller.UserOwnShowServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FindUserOwnServlet</servlet-name>
    <servlet-class>com.yl.controller.FindUserOwnServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProductDetailServlet</servlet-name>
    <servlet-class>com.yl.controller.ProductDetailServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddCartServlet</servlet-name>
    <servlet-class>com.yl.controller.AddCartServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DelCartServlet</servlet-name>
    <servlet-class>com.yl.controller.DelCartServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddCartOrderServlet</servlet-name>
    <servlet-class>com.yl.controller.AddCartOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>OrderOwnListServlet</servlet-name>
    <servlet-class>com.yl.controller.OrderOwnListServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DelOrderOwnServlet</servlet-name>
    <servlet-class>com.yl.controller.DelOrderOwnServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProductFastSelect</servlet-name>
    <servlet-class>com.yl.controller.ProductFastSelect</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserLogOutServlet</servlet-name>
    <servlet-class>com.yl.controller.UserLogOutServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EmailRegServlet</servlet-name>
    <servlet-class>com.yl.controller.EmailRegServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AffirmGoodsServlet</servlet-name>
    <servlet-class>com.yl.controller.AffirmGoodsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>OrderBuyServlet</servlet-name>
    <servlet-class>com.yl.controller.OrderBuyServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>OrderBuyBackServlet</servlet-name>
    <servlet-class>com.yl.controller.OrderBuyBackServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DetailDirectBuy</servlet-name>
    <servlet-class>com.yl.controller.DetailDirectBuy</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SendGoodsServlet</servlet-name>
    <servlet-class>com.yl.controller.SendGoodsServlet</servlet-class>
  </servlet>








  <servlet-mapping>
    <servlet-name>UserListServlet</servlet-name>
    <url-pattern>/servlet/UserListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckCodeServlet</servlet-name>
    <url-pattern>/servlet/CheckCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/AddUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>delUserServlet</servlet-name>
    <url-pattern>/servlet/delUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindUserServlet</servlet-name>
    <url-pattern>/servlet/FindUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateUserServlet</servlet-name>
    <url-pattern>/servlet/UpdateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelSelectServlet</servlet-name>
    <url-pattern>/servlet/DelSelectServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PCIListServlet</servlet-name>
    <url-pattern>/servlet/PCIListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderListServlet</servlet-name>
    <url-pattern>/servlet/OrderListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SupplierListServlet</servlet-name>
    <url-pattern>/servlet/SupplierListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetUserByList</servlet-name>
    <url-pattern>/servlet/GetUserByPageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegUserServlet</servlet-name>
    <url-pattern>/servlet/RegUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddSupplierServlet</servlet-name>
    <url-pattern>/servlet/AddSupplierServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindSupplierServlet</servlet-name>
    <url-pattern>/servlet/FindSupplierServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateSupplierServlet</servlet-name>
    <url-pattern>/servlet/UpdateSupplierServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelSupplierServlet</servlet-name>
    <url-pattern>/servlet/DelSupplierServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelSelectSupplierServlet</servlet-name>
    <url-pattern>/servlet/DelSelectSupplierServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddProductServlet</servlet-name>
    <url-pattern>/servlet/AddProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelSelectProductServlet</servlet-name>
    <url-pattern>/servlet/DelSelectProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelProductServlet</servlet-name>
    <url-pattern>/servlet/DelProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindProductServlet</servlet-name>
    <url-pattern>/servlet/FindProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateProductServlet</servlet-name>
    <url-pattern>/servlet/UpdateProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddOrderServlet</servlet-name>
    <url-pattern>/servlet/AddOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelOrderServlet</servlet-name>
    <url-pattern>/servlet/DelOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelSelectOrderServlet</servlet-name>
    <url-pattern>/servlet/DelSelectOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindOrderServlet</servlet-name>
    <url-pattern>/servlet/FindOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateOrderServlet</servlet-name>
    <url-pattern>/servlet/UpdateOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/servlet/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductsShowServlet</servlet-name>
    <url-pattern>/servlet/ProductsShowServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateUserOwnServlet</servlet-name>
    <url-pattern>/servlet/UpdateUserOwnServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserOwnShowServlet</servlet-name>
    <url-pattern>/servlet/UserOwnShowServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindUserOwnServlet</servlet-name>
    <url-pattern>/servlet/FindUserOwnServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductDetailServlet</servlet-name>
    <url-pattern>/servlet/ProductDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddCartServlet</servlet-name>
    <url-pattern>/servlet/AddCartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelCartServlet</servlet-name>
    <url-pattern>/servlet/DelCartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddCartOrderServlet</servlet-name>
    <url-pattern>/servlet/AddCartOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderOwnListServlet</servlet-name>
    <url-pattern>/servlet/OrderOwnListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelOrderOwnServlet</servlet-name>
    <url-pattern>/servlet/DelOrderOwnServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductFastSelect</servlet-name>
    <url-pattern>/servlet/ProductFastSelect</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserLogOutServlet</servlet-name>
    <url-pattern>/servlet/UserLogOutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmailRegServlet</servlet-name>
    <url-pattern>/servlet/EmailRegServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AffirmGoodsServlet</servlet-name>
    <url-pattern>/servlet/AffirmGoodsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderBuyServlet</servlet-name>
    <url-pattern>/servlet/OrderBuyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderBuyBackServlet</servlet-name>
    <url-pattern>/servlet/OrderBuyBackServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DetailDirectBuy</servlet-name>
    <url-pattern>/servlet/DetailDirectBuy</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SendGoodsServlet</servlet-name>
    <url-pattern>/servlet/SendGoodsServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.yl.util.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>